
<h1>Listing Demographics</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>School Name</th>
    <th>District Name</th>
    <th>School Year</th>
    <th>Grade</th>
    <th>Category Name</th>
    <th>Count</th>
    <th>Link</th>
  </tr>

  <% @ds.each do |d| %>
      <tr>
          <td><%= d.id %></td>
          <td><%= d.school.nil? ? d.school_id.to_s : d.school.name %></td>
          <td><%= d.school.nil? or d.school.division.nil? ? d.district_id.to_s : d.school.division.name %></td>
          <td><%= d.school_year %></td>
          <td><%= d.grade %></td>
          <td><%= d.category_name %></td>
          <td><%= d.count %></td>
        <td><%= link_to 'Show', demographic_path(d) %></td>
      </tr>
  <% end %>
</table>