
<ul>
  <li>ID: <%= @d.id %> </li>
  <li>School ID: <%= @d.school_id %> </li>
  <li>Division ID: <%= @d.division_id %> </li>
  <li>School Year: <%= @d.school_year %> </li>
  <li>Grade: <%= @d.grade %> </li>
  <li>Category: <%= @d.category %> </li>
  <li>Count: <%= @d.count %> </li>
</ul>
